/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {

}
.theme_dark.page {
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}

.header__theme-menu-button {
  color: var(--main-color);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--main-color);
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--main-color);
}