/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  margin: 0 auto; 
  max-inline-size: 1024px;
  background-size: cover;
  background-attachment: fixed;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 20px;
}

/* Шапка сайта */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block-end: 60px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  }

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decoration-icon {
  top: 0px;
  right: 58px;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--decor-color);
}

.header__decoration-icon::after {
  position: absolute;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 8px;
  right: -28px;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  padding-block-end: 273px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.header__theme-menu-button {
  border: none;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid currentColor;
  margin: -1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.header__title {
  margin-inline-start: -20px;
  align-self: flex-start;
  padding-block-end: 114px;
  font-weight: var(--main-fw);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
  color: var(--header-title-color);
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--bg-color);
}

.header__description {
  align-self: flex-end;
  font-weight: 700;
}

/* Конец шапки */

/* Начало мейн контента */

.content {
  margin-block-end: 60px;
}

.title-decoration {
  color: var(--content-title-color);
}

.content__reason {
  display: grid;
  grid-template-columns: 315px 1fr;
  padding-block-end: 80px;
}

.content__title {
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  margin-bottom: 20px;
}

.content__list {
  padding-block-end: 80px;
}

.content__list-item {
  padding-block-end: 20px;
}

.content__list__title{
  font-style: var(--main-fz);
  font-weight: var(--secondary-fw);
  margin-block-end: 10px;
}

.content__list__description {
  font-weight: var(--secondary-fw);
  font-size: var(--main-fz);
  line-height: 130%;
  color: var(--text-color);
}

.content__link {
  text-decoration: none;
}

.link-shadow {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.title-reduces {
  max-inline-size: 315px;
}

.list-reduces {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__better {
  display: grid;
  grid-template-columns: 315px 1fr;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__img {
  object-fit: cover;
  object-position: top;
  block-size: 100%;
  inline-size: 100%;
}

.gallety__list-item:nth-child(1) {
  grid-column: 1 / 3;
}
.gallety__list-item:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}
.gallety__list-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}
.gallety__list-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.gallety__list-item:nth-child(5) {
  grid-column: 2 / 4;
}

/* Конец мейн контейнера */

/* Футер */

.footer__text {
  padding: 319px 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--main-fw);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
  color: var(--header-title-color);
}

/* Адаптив */

@media screen and (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 146px;
  }

  .header__description {
    margin-bottom: 183px;
  }

  .list-reduces {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width:376px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .content__reason {
    display: flex;
    flex-direction: column;
  }

  .content__better {
    display: flex;
    flex-direction: column;
  }

  .gallery__list {
    display: flex;
    flex-direction: column;
  }

  .footer__text {
    padding:276px 13px;
  }
}